@{
    ViewBag.Title = "關於";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h4>前台</h4>
    <ul>
        <li>瀏覽文章 (設定為發佈的文章)</li>
        <li>註冊 / 登入會員</li>
        <li>會員個人密碼管理</li>
    </ul>
    <h4>後台</h4>
    <ul>
        <li>文章發表（僅顯示及僅能修改自己的文章）、搜尋及分頁</li>
        <li>登出</li>
    </ul>

    <h4>使用技術</h4>
    <ul>
        <li>ASP.NET MVC(C#) 網站範本 (升級至5.2.3)</li>
        <li>會員登入使用範本預設 Identity 1.0</li>
        <li>使用 Area 區分 Admin 後台</li>
    </ul>
</div>